:root {
    --cell-color: tomato;
    --cell-color-hover: firebrick;
    --cell-border: slategray
}

body {
    height: 100%;
    background-color: darkslategray;
}

.page {
    height: 100%;
}

.board {
    width: fit-content;
    display: inline-block;
}

.row-container {
    width: fit-content;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cell {
    height: 32px;
    width: 32px;
    border: var(--cell-border);
    background-color: var(--cell-color);
    margin: 1px;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;

    &__visible {
        font-family: Courier;
        background-color: var(--cell-color-hover);
        height: 32px;
        width: 32px;
        border: var(--cell-border);
        margin: 1px;
        padding: 0;
        display: flex;
        align-items: center;
    }

    &:hover {
        background-color: var(--cell-color-hover);
    }
}

.score-container {
    display: flex;
    width: 30%;

    & > * {
        font-family: Courier;
        color: white;
        width: 100%;
        padding: 10px;
        align-self: center;
        justify-content: center;
    }
}

.config-container {
    display: flex;
    width: 30%;
    float: right;

    & > * {
        font-family: Courier;
        color: white;
        width: 100%;
        padding: 10px;
        align-self: center;
        justify-content: center;
        cursor: pointer;
    }
}

if, p {
    margin: auto;
    color: white;
}

.control-container {
    display: flex;
    align-self: center;
    justify-content: center;
}

.icon-container {
    margin: auto;
    margin-top: 3px;
    filter: hue-rotate(90deg);
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.text {
    &__heading {
        font-family: Courier;
        color: white;
        margin: 4px;
        font-size: 3em;
    }

    &__instruction {
        font-family: Courier;
        color: white;
        margin: 24px;
        font-size: 2em;
    }
}