:root {
    --color-white: white;
    --color-cell: tomato;
    --color-cell__hover: firebrick;
    --color-cell__border: slategray;
    --color-header-background: rgb(192, 86, 70);
    --color-navigation-background: rgb(212, 115, 100);
    --color-background: darkslategray;
    --color-accent: #900000;
    --font-family-primary: Courier;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
header
div {
    margin: 0;
}

h1,
h3,
h4,
p {
    color: var(--color-white);
    margin: 2rem;
}

body {
    min-width: fit-content;
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 1.3rem;
    height: 100%;
    background-color: var(--color-background);
}

@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.container {
    margin-inline: auto;
}

.board {
    min-width: 1024px;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
}

.row-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.cell {
    height: 32px;
    width: 32px;
    border: var(--color-cell__border);
    background-color: var(--color-cell);
    margin: 1px;
    padding: 0;
    cursor: pointer;

    &__visible {
        background-color: var(--color-cell__hover);
        height: 32px;
        width: 32px;
        border: var(--color-cell__border);
        margin: 1px;
        align-items: center;

        & > p {
            margin: auto;
        }
    }

    &:hover {
        background-color: var(--color-cell__hover);
    }
}

.score-container {
    display: flex;
    width: 100%;

    & > * {
        width: 100%;
    }
}

.control-container {
    display: flex;
    align-self: center;
    justify-content: center;
}

.icon-container {
    margin: auto;
    margin-top: 3px;
    filter: hue-rotate(90deg);
    width: 32px;
    height: 32px;
    cursor: pointer;
}