// Header row
header {
    cursor: default;
}

// Logo made out of text
.logo {
    text-align: left;
    background: var(--color-navigation-background);
    position: absolute;
    left: 1em;
    top: 0.3em;
    &__left {
        color: var(--color-background);
    }
}

.logo-container {
    margin-inline: auto;
    width: 18em;
    position: relative;
}

.logo-wrapper {
    background: var(--color-navigation-background);
    border-right: 2em solid var(--color-background);
    border-left: 2em solid var(--color-background);
    border-top: 4em  solid transparent;
}

.config-select {
    grid-row: 1/-1;
    align-items: center;
    position: relative;
    margin: 1em 0;
}

.config-select-selection {
    height: 100%;
    padding: 0.5em 1em;
    font-size: 1.5rem;
    background: var(--color-navigation-background);
    color: var(--color-white);
    border: 0;
    font-family: var(--font-family-primary);
}

.config-select-option {
    padding: 1.5em 1.5em;
    font-family: var(--font-family-primary);
}

.config-select-arrow {
    position: absolute;
    padding: 0.5em 0;
    top:0;
    right:0;
    display: block;
    background: var(--color-navigation-darker-background);
    width: 2.5em;
    height: 100%; 
    pointer-events: none;
}

.config-select-arrow::before,
.config-select-arrow::after {
    --size: 0.4em;
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.config-select-arrow::before {
    top: 36%;
    border-right: var(--size) solid transparent;
    border-left: var(--size) solid transparent;
    border-bottom: var(--size) solid var(--color-background);
}

.config-select-arrow::after {
    top: 64%;
    border-right: var(--size) solid transparent;
    border-left: var(--size) solid transparent;
    border-top: var(--size) solid var(--color-background);
}

.nav-icon {
    margin-block: auto;
    margin-right: 1em;
    filter: hue-rotate(90deg);
    width: 48px;
    height: 48px;
    cursor: pointer;
}

// Configuration for higher resolutions
@media screen and (min-width: 1000px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr minmax(600px, 1fr) 1fr 1fr 1fr;
    }

    .logo-container {
        grid-column: 2;
    }

    .config-select {
        grid-column: 5/6;
    }

    .nav-icon {
        grid-column: 6/7;
    }

    .stats-container {
        grid-column: 5/8;
    }
}
